@page
@model BattleShips.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameCreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameCreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Player1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Player1.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Player2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Player2.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Player1OnTurn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Player1OnTurn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Game.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
